{%if data.length>0%}
<hr>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Inheritance Tree</h3>
    </div>
    <div class="panel-body">
        {% for cls in data %}
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">{{cls.name}} {%if cls.name!=cls.alias%}<span class="badge">({{cls.alias}})</span>{%endif%}</h3>
            </div>
            <div class="panel-body">

                <a href="/doc/read/{{lib}}/{{cls.id}}/" class="btn btn-default"><strong>{{cls.name}}</strong>
                    Details</a>
                <hr>

                {%for aid,attr in cls.attrs%}
                <a target="_blank" href="/doc/read/{{lib}}/{{attr.id}}/">
                        <span class="btn btn-sm btn-{%if attr.ctype=='class'%}success{%elif attr.ctype=='function'%}default{%else%}primary{%endif%}"  {%if attr.name!=attr.alias%}title='{{attr.alias}}'{%endif%} >
                            {{attr.name}}<span class="badge"> [{{attr.ctype}}]</span>
                        </span>
                </a>
                
                {%endfor%}
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{%endif%}